.html {
  width: 100vh;
  height: 100%;
}

.divmain {
  width: 100vh;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.playersGrid {
  display: Grid;
  width: 100%;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr,1fr;
}

.h1 {
  color: blue;
  font-weight: bold;
}
