.html {
  width: 100vh;
}

.divmain {
  width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.playersFlex {
  display: flex;
  width: 30%;
  justify-content: center;
}

.h1 {
  color: blue;
  font-weight: bold;
}
