.html {
  width: 100vh;
  height: 100%;
}

.h1 {
  color: blue;
  font-weight: bold;
}

.divmain {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: top;
}

.playersFlex {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;  
}

.playersGrid {
  display: Grid;
  width: 100%;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr,1fr,1fr,1fr;
  gap: 2rem;
  justify-content: center;  
}

.playerDivOneLabel {
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 1.5rem;  
;  
}

.playerDivOneInput {
  grid-row-start: 2;
  grid-column-start: 1;
  font-size: 1.5rem;  
}

.playerDivTwoLabel {
  grid-row-start: 1;  
  grid-column-start: 2;
  font-size: 1.5rem;
}

.playerDivTwoInput {
  grid-row-start: 2;  
  grid-column-start: 2;
  font-size: 1.5rem;  
}


.diceOneDiv{
  margin: 2rem;
  /*grid-row-start: 3;
  grid-column-start: 1; */
  grid-area: 2,1,3,2;  
}

.diceTwoDiv{
  margin: 2rem;
  /*grid-row-start: 3;
  grid-column-start: 2; */
  grid-area: 2,2,3,3;
}

.dicePicOne {
  width: 300px;
  height: 300px;     
  justify-content: center;
}

.dicePicTwo {
  width: 300px;
  height: 300px;
  justify-content: center;         
}

/*
@media only screen and (max-width: 1200px){

  .dicePicOne {
    width: 200px;
    height: 200px;    
  }
  
  .dicePicTwo {
    width: 200px;
    height: 200px;      
  }
}


@media only screen and (max-width: 450px){

  .dicePicOne {
    width: 100px;
    height: 100px;     
  }
  
  .dicePicTwo {
    width: 100px;
    height: 100px;      
  }
  
}
*/